<!DOCTYPE html>
<html>
    <style>
        table, th, td {
            border:1px solid black;
            }
    </style>
    <body>
        <h2>
            LCS Players
        </h2>
        <table style="width:100%">
            <tr>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week1">
                    Week 1
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week2">
                    Week 2
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week3">
                    Week 3
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week4">
                    Week 4
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week5">
                    Week 5
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week6">
                    Week 6
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week7">
                    Week 7
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week8">
                    Week 8
                </a>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Team
                </th>
                <th>
                    Kills
                </th>
                <th>
                    Deaths
                </th>
                <th>
                    Assists
                </th>
                <th>
                    Triples
                </th>
                <th>
                    Quadras
                </th>
                <th>
                    Pentas
                </th>
                <th>
                    CS
                </th>
                <th>
                    Total
                </th>
                <th>
                    Games
                </th>
            </tr>
            <tr>
                <th>
                    Spica
                </th>
                <th>
                    TSM
                </th>
                <th>
                    1
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    324
                </th>
                <th>
                    10.48
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Maple
                </th>
                <th>
                    TSM
                </th>
                <th>
                    2
                </th>
                <th>
                    5
                </th>
                <th>
                    2
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    462
                </th>
                <th>
                    14.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Instinct
                </th>
                <th>
                    TSM
                </th>
                <th>
                    1
                </th>
                <th>
                    4
                </th>
                <th>
                    2
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    523
                </th>
                <th>
                    13.46
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Chime
                </th>
                <th>
                    TSM
                </th>
                <th>
                    1
                </th>
                <th>
                    4
                </th>
                <th>
                    4
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    67
                </th>
                <th>
                    8.34
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Philip
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    3
                </th>
                <th>
                    3
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    599
                </th>
                <th>
                    41.98
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Josedeodo
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    8
                </th>
                <th>
                    1
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    383
                </th>
                <th>
                    46.66
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Toucouille
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    5
                </th>
                <th>
                    1
                </th>
                <th>
                    12
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    604
                </th>
                <th>
                    52.08
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Johnsun
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    6
                </th>
                <th>
                    2
                </th>
                <th>
                    9
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    693
                </th>
                <th>
                    49.86
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Aphromoo
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    5
                </th>
                <th>
                    1
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    61
                </th>
                <th>
                    37.22
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Blue
                </th>
                <th>
                    GG
                </th>
                <th>
                    1
                </th>
                <th>
                    4
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    666
                </th>
                <th>
                    24.32
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Spawn
                </th>
                <th>
                    GG
                </th>
                <th>
                    4
                </th>
                <th>
                    3
                </th>
                <th>
                    2
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    736
                </th>
                <th>
                    27.72
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Biofrost
                </th>
                <th>
                    GG
                </th>
                <th>
                    1
                </th>
                <th>
                    4
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    77
                </th>
                <th>
                    12.54
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Licorice
                </th>
                <th>
                    Dignitas
                </th>
                <th>
                    6
                </th>
                <th>
                    9
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    433
                </th>
                <th>
                    29.66
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    River
                </th>
                <th>
                    Dignitas
                </th>
                <th>
                    1
                </th>
                <th>
                    5
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    370
                </th>
                <th>
                    15.4
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Ablazeolive
                </th>
                <th>
                    Dignitas
                </th>
                <th>
                    3
                </th>
                <th>
                    5
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    528
                </th>
                <th>
                    30.56
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Stixxay
                </th>
                <th>
                    Dignitas
                </th>
                <th>
                    8
                </th>
                <th>
                    6
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    526
                </th>
                <th>
                    30.52
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Olleh
                </th>
                <th>
                    Dignitas
                </th>
                <th>
                    1
                </th>
                <th>
                    6
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    44
                </th>
                <th>
                    19.88
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Bwipo
                </th>
                <th>
                    Team Liquid
                </th>
                <th>
                    12
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    683
                </th>
                <th>
                    57.66
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Santorin
                </th>
                <th>
                    Team Liquid
                </th>
                <th>
                    3
                </th>
                <th>
                    6
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    362
                </th>
                <th>
                    32.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Bjergsen
                </th>
                <th>
                    Team Liquid
                </th>
                <th>
                    4
                </th>
                <th>
                    3
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    615
                </th>
                <th>
                    49.3
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Hans sama
                </th>
                <th>
                    Team Liquid
                </th>
                <th>
                    2
                </th>
                <th>
                    2
                </th>
                <th>
                    19
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    601
                </th>
                <th>
                    54.02
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    CoreJJ
                </th>
                <th>
                    Team Liquid
                </th>
                <th>
                    1
                </th>
                <th>
                    6
                </th>
                <th>
                    15
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    79
                </th>
                <th>
                    28.58
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    ssumday
                </th>
                <th>
                    100 Thieves
                </th>
                <th>
                    8
                </th>
                <th>
                    2
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    560
                </th>
                <th>
                    57.2
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Closer
                </th>
                <th>
                    100 Thieves
                </th>
                <th>
                    3
                </th>
                <th>
                    2
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    339
                </th>
                <th>
                    39.78
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Abbedagge
                </th>
                <th>
                    100 Thieves
                </th>
                <th>
                    7
                </th>
                <th>
                    2
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    570
                </th>
                <th>
                    60.4
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Huhi
                </th>
                <th>
                    100 Thieves
                </th>
                <th>
                    0
                </th>
                <th>
                    1
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    78
                </th>
                <th>
                    36.56
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    FBI
                </th>
                <th>
                    100 Thieves
                </th>
                <th>
                    10
                </th>
                <th>
                    2
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    581
                </th>
                <th>
                    61.62
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Impact
                </th>
                <th>
                    EG
                </th>
                <th>
                    5
                </th>
                <th>
                    4
                </th>
                <th>
                    17
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    494
                </th>
                <th>
                    54.88
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Inspired
                </th>
                <th>
                    EG
                </th>
                <th>
                    6
                </th>
                <th>
                    1
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    337
                </th>
                <th>
                    43.74
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    jojopyun
                </th>
                <th>
                    EG
                </th>
                <th>
                    8
                </th>
                <th>
                    6
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    466
                </th>
                <th>
                    47.32
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Danny
                </th>
                <th>
                    EG
                </th>
                <th>
                    6
                </th>
                <th>
                    4
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    347
                </th>
                <th>
                    46.94
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Vulcan
                </th>
                <th>
                    EG
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    207
                </th>
                <th>
                    33.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Fudge
                </th>
                <th>
                    Cloud9
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    612
                </th>
                <th>
                    45.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Blaber
                </th>
                <th>
                    Cloud9
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    431
                </th>
                <th>
                    49.62
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Jensen
                </th>
                <th>
                    Cloud9
                </th>
                <th>
                    10
                </th>
                <th>
                    1
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    609
                </th>
                <th>
                    73.18
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Berserker
                </th>
                <th>
                    Cloud9
                </th>
                <th>
                    7
                </th>
                <th>
                    4
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    572
                </th>
                <th>
                    54.44
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Zven
                </th>
                <th>
                    Cloud9
                </th>
                <th>
                    1
                </th>
                <th>
                    6
                </th>
                <th>
                    15
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    44
                </th>
                <th>
                    27.88
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Dhokla
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    1
                </th>
                <th>
                    8
                </th>
                <th>
                    4
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    462
                </th>
                <th>
                    12.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Contractz
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    5
                </th>
                <th>
                    2
                </th>
                <th>
                    7
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    378
                </th>
                <th>
                    36.56
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Palafox
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    7
                </th>
                <th>
                    5
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    497
                </th>
                <th>
                    37.94
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Luger
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    4
                </th>
                <th>
                    3
                </th>
                <th>
                    7
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    456
                </th>
                <th>
                    32.12
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Poome
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    1
                </th>
                <th>
                    9
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    68
                </th>
                <th>
                    19.36
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Revenge
                </th>
                <th>
                    CLG
                </th>
                <th>
                    6
                </th>
                <th>
                    4
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    594
                </th>
                <th>
                    47.88
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Kenvi
                </th>
                <th>
                    CLG
                </th>
                <th>
                    7
                </th>
                <th>
                    5
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    366
                </th>
                <th>
                    43.32
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    PowerOfEvil
                </th>
                <th>
                    CLG
                </th>
                <th>
                    4
                </th>
                <th>
                    4
                </th>
                <th>
                    9
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    596
                </th>
                <th>
                    37.92
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Lost
                </th>
                <th>
                    CLG
                </th>
                <th>
                    3
                </th>
                <th>
                    3
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    612
                </th>
                <th>
                    40.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    IgNar
                </th>
                <th>
                    CLG
                </th>
                <th>
                    0
                </th>
                <th>
                    6
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    66
                </th>
                <th>
                    15.32
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Gamsu
                </th>
                <th>
                    FlyQuest
                </th>
                <th>
                    3
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    605
                </th>
                <th>
                    22.1
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    S0ul
                </th>
                <th>
                    Immortals
                </th>
                <th>
                    2
                </th>
                <th>
                    5
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    518
                </th>
                <th>
                    13.36
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Pridestalkr
                </th>
                <th>
                    GG
                </th>
                <th>
                    1
                </th>
                <th>
                    8
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    327
                </th>
                <th>
                    17.54
                </th>
                <th>
                    2
                </th>
            </tr>
        </table>
    </body>
</html>