<!DOCTYPE html>
<html>
    <style>
        table, th, td {
            border:1px solid black;
            }
    </style>
    <body>
        <h2>
            LCS Players
        </h2>
        <table style="width:100%">
            <tr>
                <a href="http://localhost:5000/week1">
                    Week 1
                </a>
                <a href="http://localhost:5000/week2">
                    Week 2
                </a>
                <a href="http://localhost:5000/week3">
                    Week 3
                </a>
                <a href="http://localhost:5000/week4">
                    Week 4
                </a>
                <a href="http://localhost:5000/week5">
                    Week 5
                </a>
                <a href="http://localhost:5000/week6">
                    Week 6
                </a>
                <a href="http://localhost:5000/week7">
                    Week 7
                </a>
                <a href="http://localhost:5000/week8">
                    Week 8
                </a>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Team
                </th>
                <th>
                    Kills
                </th>
                <th>
                    Deaths
                </th>
                <th>
                    Assists
                </th>
                <th>
                    Triples
                </th>
                <th>
                    Quadras
                </th>
                <th>
                    Pentas
                </th>
                <th>
                    CS
                </th>
                <th>
                    Total
                </th>
                <th>
                    Games
                </th>
            </tr>
            <tr>
                <th>
                    Spica
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    7
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    623
                </th>
                <th>
                    44.97
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Maple
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    7
                </th>
                <th>
                    14
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    858
                </th>
                <th>
                    40.77
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Philip
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    8
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    805
                </th>
                <th>
                    30.73
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Josedeodo
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    11
                </th>
                <th>
                    19
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    539
                </th>
                <th>
                    31.19
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Toucouille
                </th>
                <th>
                    Men
                </th>
                <th>
                    12
                </th>
                <th>
                    3
                </th>
                <th>
                    5
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    975
                </th>
                <th>
                    43.0
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Johnsun
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    6
                </th>
                <th>
                    9
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    945
                </th>
                <th>
                    37.93
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Aphromoo
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    5
                </th>
                <th>
                    23
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    54
                </th>
                <th>
                    32.05
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Blue
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    7
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    955
                </th>
                <th>
                    18.07
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Biofrost
                </th>
                <th>
                    Men
                </th>
                <th>
                    0
                </th>
                <th>
                    6
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    287
                </th>
                <th>
                    7.83
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Licorice
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    5
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    790
                </th>
                <th>
                    19.2
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    River
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    9
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    527
                </th>
                <th>
                    13.03
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Ablazeolive
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    7
                </th>
                <th>
                    9
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    769
                </th>
                <th>
                    21.59
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Stixxay
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    3
                </th>
                <th>
                    9
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    824
                </th>
                <th>
                    28.99
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Olleh
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    34
                </th>
                <th>
                    17.12
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Bwipo
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    1
                </th>
                <th>
                    19
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    807
                </th>
                <th>
                    55.43
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Santorin
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    1
                </th>
                <th>
                    19
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    477
                </th>
                <th>
                    43.03
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Bjergsen
                </th>
                <th>
                    Men
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    721
                </th>
                <th>
                    59.61
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Hans sama
                </th>
                <th>
                    Men
                </th>
                <th>
                    14
                </th>
                <th>
                    2
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    759
                </th>
                <th>
                    58.12
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    CoreJJ
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    32
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    69
                </th>
                <th>
                    44.25
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    ssumday
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    5
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    968
                </th>
                <th>
                    44.24
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Closer
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    7
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    574
                </th>
                <th>
                    44.32
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Abbedagge
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    10
                </th>
                <th>
                    27
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    859
                </th>
                <th>
                    56.79
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Huhi
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    24
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    86
                </th>
                <th>
                    37.81
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    FBI
                </th>
                <th>
                    Men
                </th>
                <th>
                    11
                </th>
                <th>
                    2
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    1031
                </th>
                <th>
                    53.08
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Impact
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    10
                </th>
                <th>
                    28
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    841
                </th>
                <th>
                    51.88
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Inspired
                </th>
                <th>
                    Men
                </th>
                <th>
                    13
                </th>
                <th>
                    3
                </th>
                <th>
                    27
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    695
                </th>
                <th>
                    70.6
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    jojopyun
                </th>
                <th>
                    Men
                </th>
                <th>
                    12
                </th>
                <th>
                    6
                </th>
                <th>
                    25
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    1022
                </th>
                <th>
                    66.96
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Danny
                </th>
                <th>
                    Men
                </th>
                <th>
                    21
                </th>
                <th>
                    4
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    1084
                </th>
                <th>
                    72.45
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Vulcan
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    7
                </th>
                <th>
                    46
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    74
                </th>
                <th>
                    59.65
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Fudge
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    936
                </th>
                <th>
                    27.15
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Blaber
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    8
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    676
                </th>
                <th>
                    18.35
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Jensen
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    8
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    929
                </th>
                <th>
                    27.72
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Dhokla
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    5
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    921
                </th>
                <th>
                    52.95
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Contractz
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    3
                </th>
                <th>
                    24
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    579
                </th>
                <th>
                    53.72
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Palafox
                </th>
                <th>
                    Men
                </th>
                <th>
                    12
                </th>
                <th>
                    4
                </th>
                <th>
                    17
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    801
                </th>
                <th>
                    56.01
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Luger
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    4
                </th>
                <th>
                    28
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    590
                </th>
                <th>
                    56.53
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Poome
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    5
                </th>
                <th>
                    26
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    307
                </th>
                <th>
                    45.43
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Revenge
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    9
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    747
                </th>
                <th>
                    23.96
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Kenvi
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    12
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    522
                </th>
                <th>
                    19.63
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    PowerOfEvil
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    823
                </th>
                <th>
                    26.31
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Lost
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    9
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    544
                </th>
                <th>
                    23.25
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    IgNar
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    4
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    228
                </th>
                <th>
                    13.04
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Gamsu
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    9
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    739
                </th>
                <th>
                    9.85
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Pridestalkr
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    5
                </th>
                <th>
                    4
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    612
                </th>
                <th>
                    24.16
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Neo
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    9
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    628
                </th>
                <th>
                    10.37
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Huni
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    9
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    755
                </th>
                <th>
                    33.4
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Tactical
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    8
                </th>
                <th>
                    9
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    890
                </th>
                <th>
                    35.87
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Mia
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    14
                </th>
                <th>
                    17
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    83
                </th>
                <th>
                    18.44
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    k1ng
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    632
                </th>
                <th>
                    21.76
                </th>
                <th>
                    3
                </th>
            </tr>
            <tr>
                <th>
                    Destiny
                </th>
                <th>
                    Men
                </th>
                <th>
                    0
                </th>
                <th>
                    9
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    289
                </th>
                <th>
                    13.85
                </th>
                <th>
                    3
                </th>
            </tr>
        </table>
    </body>
</html>