<!DOCTYPE html>
<html>
    <style>
        table, th, td {
            border:1px solid black;
            }
    </style>
    <body>
        <h2>
            LCS Players
        </h2>
        <table style="width:100%">
            <tr>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week1">
                    Week 1
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week2">
                    Week 2
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week3">
                    Week 3
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week4">
                    Week 4
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week5">
                    Week 5
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week6">
                    Week 6
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week7">
                    Week 7
                </a>
                <a href="https://glassy-clock-375119.ue.r.appspot.com/week8">
                    Week 8
                </a>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Team
                </th>
                <th>
                    Kills
                </th>
                <th>
                    Deaths
                </th>
                <th>
                    Assists
                </th>
                <th>
                    Triples
                </th>
                <th>
                    Quadras
                </th>
                <th>
                    Pentas
                </th>
                <th>
                    CS
                </th>
                <th>
                    Total
                </th>
                <th>
                    Games
                </th>
            </tr>
            <tr>
                <th>
                    Spica
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    5
                </th>
                <th>
                    10
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    374
                </th>
                <th>
                    45.48
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Maple
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    605
                </th>
                <th>
                    44.1
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Philip
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    7
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    653
                </th>
                <th>
                    34.06
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Josedeodo
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    6
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    463
                </th>
                <th>
                    48.26
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Toucouille
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    1
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    662
                </th>
                <th>
                    44.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Johnsun
                </th>
                <th>
                    Men
                </th>
                <th>
                    14
                </th>
                <th>
                    9
                </th>
                <th>
                    10
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    654
                </th>
                <th>
                    68.08
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Aphromoo
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    5
                </th>
                <th>
                    19
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    63
                </th>
                <th>
                    40.26
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Blue
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    2
                </th>
                <th>
                    9
                </th>
                <th>
                    1
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    652
                </th>
                <th>
                    52.04
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Biofrost
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    1
                </th>
                <th>
                    15
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    207
                </th>
                <th>
                    36.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Licorice
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    7
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    602
                </th>
                <th>
                    55.04
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    River
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    362
                </th>
                <th>
                    43.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Ablazeolive
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    7
                </th>
                <th>
                    7
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    689
                </th>
                <th>
                    38.78
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Stixxay
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    8
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    411
                </th>
                <th>
                    37.22
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Olleh
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    302
                </th>
                <th>
                    39.04
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Bwipo
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    610
                </th>
                <th>
                    34.2
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Santorin
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    340
                </th>
                <th>
                    50.8
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Bjergsen
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    583
                </th>
                <th>
                    44.66
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Hans sama
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    9
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    583
                </th>
                <th>
                    33.66
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    CoreJJ
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    6
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    42
                </th>
                <th>
                    36.84
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    ssumday
                </th>
                <th>
                    Men
                </th>
                <th>
                    7
                </th>
                <th>
                    6
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    521
                </th>
                <th>
                    49.42
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Closer
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    4
                </th>
                <th>
                    7
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    386
                </th>
                <th>
                    41.72
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Abbedagge
                </th>
                <th>
                    Men
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    654
                </th>
                <th>
                    42.08
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Huhi
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    4
                </th>
                <th>
                    22
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    251
                </th>
                <th>
                    51.02
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    FBI
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    7
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    393
                </th>
                <th>
                    42.86
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Impact
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    7
                </th>
                <th>
                    12
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    611
                </th>
                <th>
                    59.22
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Inspired
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    6
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    510
                </th>
                <th>
                    62.2
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    jojopyun
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    5
                </th>
                <th>
                    17
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    640
                </th>
                <th>
                    59.8
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Danny
                </th>
                <th>
                    Men
                </th>
                <th>
                    10
                </th>
                <th>
                    5
                </th>
                <th>
                    16
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    757
                </th>
                <th>
                    72.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Vulcan
                </th>
                <th>
                    Men
                </th>
                <th>
                    0
                </th>
                <th>
                    4
                </th>
                <th>
                    27
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    67
                </th>
                <th>
                    51.34
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Fudge
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    15
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    684
                </th>
                <th>
                    55.68
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Blaber
                </th>
                <th>
                    Men
                </th>
                <th>
                    9
                </th>
                <th>
                    3
                </th>
                <th>
                    10
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    440
                </th>
                <th>
                    52.8
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Jensen
                </th>
                <th>
                    Men
                </th>
                <th>
                    8
                </th>
                <th>
                    2
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    582
                </th>
                <th>
                    49.64
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Berserker
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
                <th>
                    13
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    557
                </th>
                <th>
                    40.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Zven
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    17
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    82
                </th>
                <th>
                    36.64
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Dhokla
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    6
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    740
                </th>
                <th>
                    39.8
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Contractz
                </th>
                <th>
                    Men
                </th>
                <th>
                    9
                </th>
                <th>
                    7
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    470
                </th>
                <th>
                    57.4
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Palafox
                </th>
                <th>
                    Men
                </th>
                <th>
                    6
                </th>
                <th>
                    6
                </th>
                <th>
                    15
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    627
                </th>
                <th>
                    54.54
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Luger
                </th>
                <th>
                    Men
                </th>
                <th>
                    11
                </th>
                <th>
                    7
                </th>
                <th>
                    14
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    757
                </th>
                <th>
                    69.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Poome
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    8
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    67
                </th>
                <th>
                    38.34
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Revenge
                </th>
                <th>
                    Men
                </th>
                <th>
                    2
                </th>
                <th>
                    7
                </th>
                <th>
                    2
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    581
                </th>
                <th>
                    14.62
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Kenvi
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    9
                </th>
                <th>
                    2
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    357
                </th>
                <th>
                    5.14
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    PowerOfEvil
                </th>
                <th>
                    Men
                </th>
                <th>
                    0
                </th>
                <th>
                    4
                </th>
                <th>
                    4
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    614
                </th>
                <th>
                    16.28
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Lost
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    662
                </th>
                <th>
                    23.24
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    IgNar
                </th>
                <th>
                    Men
                </th>
                <th>
                    0
                </th>
                <th>
                    6
                </th>
                <th>
                    4
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    45
                </th>
                <th>
                    2.9
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Gamsu
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    3
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    537
                </th>
                <th>
                    38.74
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Pridestalkr
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    6
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    454
                </th>
                <th>
                    22.08
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Neo
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    2
                </th>
                <th>
                    11
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    379
                </th>
                <th>
                    36.58
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Huni
                </th>
                <th>
                    Men
                </th>
                <th>
                    3
                </th>
                <th>
                    5
                </th>
                <th>
                    6
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    579
                </th>
                <th>
                    27.58
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Tactical
                </th>
                <th>
                    Men
                </th>
                <th>
                    5
                </th>
                <th>
                    5
                </th>
                <th>
                    8
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    581
                </th>
                <th>
                    37.62
                </th>
                <th>
                    2
                </th>
            </tr>
            <tr>
                <th>
                    Mia
                </th>
                <th>
                    Men
                </th>
                <th>
                    1
                </th>
                <th>
                    5
                </th>
                <th>
                    18
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    0
                </th>
                <th>
                    55
                </th>
                <th>
                    35.1
                </th>
                <th>
                    2
                </th>
            </tr>
        </table>
    </body>
</html>